body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  background: lightgray;
  height: 1000px;
  overflow-y: hidden;
}

a {
  text-decoration: none !important;
}
/* body,
html {
  background: #e3eff5;
} */
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.categories .category {
  width: 200px;
  /* height: 100%; */
  border: 1px solid lightgray;
  flex: initial;
  margin-right: 20px;
  position: relative;
  text-align: center;
  padding: 10px 0;
  padding-top: 15px;
  border-radius: 2px;
}
/* .categories .category:last-child {
  margin-right: 0px;
} */
.categories .category-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.categories .category .total-item-per-cat {
  background: #bfe6ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #359dff;
  text-align: center;
  padding-top: 13px;
  margin: 0 auto;
}
.categories .category .category-name {
  color: #359dff;
}

/**Category Item**/

.categories .category button img {
  width: 25px;
}

.categories .category p.item-selected {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(23, 162, 184, 0.5);
  border-radius: 0px;
  padding: 10px 0;
  display: none;
  margin-top: 55px;
  font-style: italic;
  font-weight: bold;
}
.diplayNow {
  display: unset !important;
}
.categories .category img {
  width: 100%;
  height: 100%;
}
.categories .category.item {
  padding: 0px;
  /* height: 100%; */
  margin-top: 20px;
  overflow: hidden;
}
.product-np {
  color: #333333;
  background: #e3eff5;
  margin-top: 5px;
  position: relative;
}
.product-np a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.product-np:hover {
  background: rgba(144, 205, 220, 0.5);
}

/*New*/

.modal-trigger {
  box-shadow: none !important;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.selected-count {
  position: absolute;
  top: 50%;
  width: 198px;
  margin: 0 auto;
  background: lightgreen;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari prior 9.0 */
  transform: rotate(20deg); /* Standard syntax */
}

.selected-count.p-title {
  top: 0;
  background: #359dff;
  transform: unset !important;
}
.selected-count.price-selected {
  top: unset;
  bottom: 0;
  background: lightgray;
  transform: unset !important;
}
